@using razor_page_ef
@using Microsoft.AspNetCore.Identity

@inject UserManager<AuthenUser> userManager
@inject SignInManager<AuthenUser> signInManager

<ul class="navbar-nav gap-4 align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li><a class="text text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Hello,
                @userManager.GetUserName(User)</a></li>
        <li class="nav-item text text-dark">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item text text-dark">
            <a asp-area="Identity" asp-page="/Account/Register">Đăng kí</a>
        </li>
        <li class="nav-item text text-dark">
            <a asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
    }
</ul>