@page "/admin/roles/edit/{roleId}"
@model App.Admin.Roles.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>@ViewData["Title"]</h1>
<form class="form-inline" method="post">
    <div class="form-group mb-3 d-flex gap-2 align-items-center">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" class="form-group" placeholder="Tên" />
        <button type="submit" class="btn btn-primary btn-sm">Cập nhật</button>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
</form>