@page "/reset-password-confirmation.cshtml"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được đặt lại. Hãy <a asp-page="./Login">nhấn vào đây để login.</a>.
</p>
