@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var listArticle = ViewData["ListArticle"] as List<Article>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with
            ASP.NET Core</a>.</p>
</div>
<ol>
    @foreach (var a in listArticle)
    {
        <li>@a.Title</li>
    }
</ol>
